@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    min-height: 100vh;
    background-image: linear-gradient(to right top , #65dfc9 , #6cdbeb);
    display: flex;
    justify-content: center;
    align-items: center;
}

.glass {
    
    background-image: linear-gradient(to right bottom, rgba(255,255,255,0.7), rgba(255,255,255,0.3));
    border-radius: 2rem;
    z-index: 2;
    backdrop-filter: blur(2rem);
}

.menu {
   @apply flex justify-between items-start pl-3
}

.left-side {
    background-image: linear-gradient(to right bottom, rgba(255,255,255,0.5), rgba(255,255,255,0.15));
    border-radius: 2rem;
}


 #circle1 {
     stroke: url(#GradientColor);
     stroke-dasharray: 450;
     stroke-dashoffset: 450;
     transform: rotate(-90deg);
     transform-origin: center;
    animation: anim1 2s linear forwards;
}

#circle2 {
    stroke: url(#GradientColor);
    stroke-dasharray: 450;
    stroke-dashoffset: 450;
    transform: rotate(-90deg);
    transform-origin: center;
   animation: anim2 2s linear forwards;
}

@keyframes anim1 {
    100% {
     stroke-dashoffset: 157.5;
    }
}

@keyframes anim2 {
    100% {
     stroke-dashoffset: 234;
    }
}
