@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    min-height: 100vh;
    background-image: linear-gradient(to right top , #65dfc9 , #6cdbeb);
    display: flex;
    justify-content: center;
    align-items: center;
}

.glass {
    background-image: linear-gradient(to right bottom, rgba(255,255,255,0.7), rgba(255,255,255,0.3));
    border-radius: 2rem;
    z-index: 2;
    backdrop-filter: blur(2rem);
}


.circle1 , .circle2 {
    background-image: linear-gradient(to right bottom ,
     rgba(255,255,255,0.8) , rgba(255,255,255,0.3));
    width: 20rem;
    height: 20rem;
    position: absolute; 
    border-radius: 50%;
}

.circle1 {
    top: 5%;
    right: 15%;
}

.circle2 {
    bottom: 5%;
    left:10%;
    
}


.menu {
   @apply flex justify-between items-start pl-3
}

.left-side {
    background-image: linear-gradient(to right bottom, rgba(255,255,255,0.5), rgba(255,255,255,0.15));
    border-radius: 2rem;
}


 circle {
     stroke: url(#GradientColor);
     stroke-dasharray: 450;
     stroke-dashoffset: 450;
    animation: anim 5s linear forwards;
}

@keyframes anim {
    100% {
     stroke-dashoffset: 157.5;
    }
}
