@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    min-height: 100vh;
    background-image: linear-gradient(to right top , #65dfc9 , #6cdbeb);
    display: flex;
    justify-content: center;
    align-items: center;
}

.glass {
    
    background-image: linear-gradient(to right bottom, rgba(255,255,255,0.7), rgba(255,255,255,0.3));
    border-radius: 2rem;
    z-index: 2;
    backdrop-filter: blur(2rem);
}

.menu {
   @apply flex justify-between items-start pl-3
}

#menu-mobile {
    transition: all 0.5s;
}

.left-side {
    background-image: linear-gradient(to right bottom, rgba(255,255,255,0.5), rgba(255,255,255,0.15));
    border-radius: 2rem;
}


 #circle1 {
     stroke: url(#GradientColor);
     stroke-dasharray: 450;
     stroke-dashoffset: 450;
     transform: rotate(-90deg);
     transform-origin: center;
    animation: anim1 2s linear forwards;
}

#circle2 {
    stroke: url(#GradientColor);
    stroke-dasharray: 450;
    stroke-dashoffset: 450;
    transform: rotate(-90deg);
    transform-origin: center;
   animation: anim2 2s linear forwards;
}

@keyframes anim1 {
    100% {
     stroke-dashoffset: 157.5;
    }
}

@keyframes anim2 {
    100% {
     stroke-dashoffset: 234;
    }
}

.hamburger {
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: all 0.25s;
    position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 3px;
    background-color: black;
    transform: rotate(0);
    transition: all 0.5s;
}

.hamburger-middle {
    transform: translateY(7px);
}

.hamburger-bottom {
    transform: translateY(14px);
}

.open {
    transform: rotate(90deg);
    transform: translateY(0);
}

 .open .hamburger-middle {
    display: none;
}

 .open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translateX(6px)
}

 .open .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translateX(-6px) 
}


@media only screen and  (max-width: 452px) {
    #search-mobile {
        display: none
    }
}